{% extends "portfolio/base.html" %}
{% block title %} Yannick Le Roux - About me {% endblock title %}
{% block content %}
<div class="container">
	<div class="intro">
   <div class="section-blockquote mt-5">
		<blockquote>
			<p>Teaching myself coding on a daily basis since May 2017, I enjoy solving real-life problems with what I learned. </br>Python language is a great tool to achieve this goal.</p>
		</blockquote>
	</div>
	<p><strong>My Objective:</strong> To find my first developer job in 2018.</p>
	</div>
	<hr>
</div>
<div class="container">
	<div class="container my-5">
		<a href="http://yannick-dev.com/static/files/Resume-v6.pdf" target="_blank" class="btn btn-primary btn-lg hero-button" style="float:right;">Download my Resume</a>
		<p><strong>Name:</strong> Yannick Le Roux</p>		
		<p><strong>Age:</strong> 37 </p>
		<p><strong>Born:</strong> France</p>
		<p><strong>Lives in:</strong> New York</p>
		<br/>
		<p>After working 10 years in the music industry as a Sound Engineer and DJ, I felt the 
		desire to switch career early 2017.</br>
		I remembered that, as a kid and teenager, I loved to created small scripts on my Atari STE or even 
		hack some games. I just didn't know if I had what it takes to become a professional developper one day.</p>

		<p>Then I discovered the impressive quantity and quality of online contents that were designed to teach people like me
		how to code.</br>

		I asked for advices and I have been told to give Python a try.</p>

		<p>I quickly completed a first course created by MIT, <em>Introduction to Computer Science and Python</em>, and
		<a href="https://courses.edx.org/certificates/094c7498fb13491b95ae05ff29ab9117" target="_blank">obtained a passing grade.</a></br>

		This course really got me hooked on coding and learning.</p>


		<p>My first personal projects were driven by the idea of making my current job easier. <a href="https://github.com/YannickLeRoux/mp3_organizer" target="_blank">Organizing my music files</a> in
		my laptop or <a href="https://github.com/YannickLeRoux/DMC_Chart_Parser" target="_blank">reading through tons of blog articles and charts</a> to collect good tracks to play could be very boring and repetitive, this is something coding could definitely help with.</br>

		For several years alreadym I have been building websites with Wordpress, but now that I knew how to code,
		I wanted to know how to build a website from scratch.</p>

		<p>Well, it happens Python is good at that too! I was already familiar with HTML and CSS, so I got into <a href="https://www.udemy.com/certificate/UC-5PRSEYVI/" target="_blank">Django</a> to learn to create the back-end. </br>
My first project was to created a <a href="http://receipts-organizer.herokuapp.com/" target="_blank">receipts organizer</a> for my corporation, to scan the 
		receipts and keep them organized in a database. I still have to bring some improvments to it (i-e scaning from a phone, design, security...) but anybody can sign up for an account and import documents scans already.</p>

		<p>Right after that, I decided to learn Javascript, following the <a href="https://courses.edx.org/certificates/ee19337ad1df495cb24f91648532eac3" target="_blank">University of Pennsylvania online course</a>,  as I believe it is essential to Web Development.</p>

		<p>Django is amazing but it's a bit too much boilerplate for <a href="https://twitterpie.herokuapp.com/" target="_blank">very small apps like this one</a>, so I learned Flask.</p>

		<p>These days, I continue to dive deeper into Django, while extending my Front-End knowledge with Javascript Frameworks. As well, I am getting better at deploying my apps on a linux server, as <strong>Web apps belong to the Web !</strong>
		</p>
	    </div>
	</div>

</div>

{% endblock %}
