{% extends "portfolio/base.html" %}
{% block title %} Yannick Le Roux - About me {% endblock title %}
{% block content %}
<div class="container">
	<div class="intro">
   <div class="section-blockquote mt-5">
		<blockquote>
			<p>Teaching myself coding on a daily basis since May 2017, I enjoy solving real-life problems with what I learned. Python language is a great tool to achieve this goal.</p>
		</blockquote>
	</div>
	</div>
</div>
<div class="container">
	<div class="container my-5">
		<p>Under Construction </p>
		<p>Name: Yannick</p>		
		<p>Age: 37 ans</p>
		<p>Born: France</p>
		<p>Lives in: NY</p>
		<br/>
		<p>Apres avoir travaille 10 ans dans la music industry (Dj et ingenieur), j'ai senti qu il etait temps de 
		changer de carriere. Apres une petite phase de brainstormig, je me suis souvenu qu ado, j adorais creer
		des petits programmes sur mon Atari St ou meme hack games. 
		Seulement a cette epoque, commencer une carriere dans computer science me semblait inategnable.
		C est seulement il y a 'nb_mois' que j ai decouvert le nombre impressionnant de contenus de qualites en ligne,
		pour la plupart gratuits, proposes dans le but d apprendre a coder.
		Suivant d avises conseil, je choisi de comemncer mon apprentissage avec Python. J ai rapidement complete
		avec succes la formation MITx d introduction a Computer Science and Python (link to certifiate)

		Mes premiers projets perso furent diriges vers le fait de rendre mon travail de DJ plus agreable en eliminant
		les taches trop repetitives, comme classer mes morceaux dans mon laptop ou lire une multitudes d artciles de blog musicaux.

		Ensuite, alors aue depuis plusierus annes je constatruisais des sites avec worpress, je voulu savoir comment
		construire un site from scratch. J etais deja famile avec html et css. J ai donc decouvert (Django) et decidais de creer une web app to organize the reciepts of my corporation.

		Au meme moment, j ai decide d apprendre JAvascript et jQuery, essentiels au web development je trouve.
		Voici le certificate obtenu chez PENNx Univertsity

		Trouvant Django genial mais un peu long a mettre en ouvre pour de petites applications j ai decouvert Flask.
		Voici une petite app heberge sur heroku que j ai realise juste apres.

		De la ma curiosite ne s est pas tarie et je continue a apprendre chaque jour. Je m intersse speciallemt a Docker et React JS ces derners temps.


		</p>
    </div>
	</div>

</div>

{% endblock %}
