{% extends "base.html" %}
{% block title %}Yannick Le Roux - Homepage{% endblock title %}
    
		{% block content %}
    <div class="container home-title-container">
        <h1 class="homepage-title">Welcome,</h1>
        <h1 class="homepage-title">I am a Web Developper</h1>
        <h1 class="homepage-title">from New York City</h1>
    </div>
    <div class="container paragraph">
        <p>Je me presente, j'aime Python et Django. Website developpe sur Django etc ,Je me presente, j'aime Python et Django. Website developpe sur Django etc,&nbsp;Je me presente, j'aime Python et Django. Website developpe sur Django etc ,Je me presente,
            j'aime Python et Django. Website developpe sur Django etc ,Je me presente, j'aime Python et Django. Website developpe sur Django etc&nbsp;</p>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Lightbox Gallery</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row photos">
              <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static "img/desk.jpg" %}" data-lightbox="photos"><img class="img-fluid" src="{% static "img/desk.jpg" %}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a
                    href="assets/img/building.jpg" data-lightbox="photos"><img class="img-fluid" src="{% static "img/building.jpg" %}" ></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a
                    href="assets/img/loft.jpg" data-lightbox="photos"><img class="img-fluid" src="{% static "img/desk.jpg" %}" ></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a
                    href="assets/img/building.jpg" data-lightbox="photos"><img class="img-fluid" src="{% static "img/building.jpg" %}" ></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="#"
                    data-lightbox="photos"><img class="img-fluid" src="{% static "img/loft.jpg" %}" ></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="#"
                    data-lightbox="photos"><img class="img-fluid" src="{% static "img/desk.jpg" %}"></a></div>
            </div>
        </div>
    </div>
    <div class="contact-clean">
        <form method="post">
            <h2 class="text-center">Contact me</h2>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
            <div class="form-group"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"><small class="form-text text-danger">Please enter a correct email address.</small></div>
            <div class="form-group"><textarea class="form-control" rows="14" name="message" placeholder="Message"></textarea></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
        </form>
    </div>
		{% endblock content %}

