{% load static %}<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myPortfolio-colors</title>
    <link rel="stylesheet"  href="{% static "bootstrap/css/bootstrap.min.css" %}">    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700i,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="{% static "css/Contact-Form-Clean.css" %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <link rel="stylesheet" href="{% static "css/Lightbox-Gallery.css" %}">
    <link rel="stylesheet" href="{% static "css/Navigation-Clean.css" %}">
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="stylesheet" href="{% static "css/Team-Boxed.css" %}">
</head>

<body>
    <div class="page"></div>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="#">My awesome portfolio</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">About me</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Portfolio</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Blog</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Hire Me</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="container home-title-container">
        <h1 class="homepage-title">Welcome,</h1>
        <h1 class="homepage-title">I am a Web Developper</h1>
        <h1 class="homepage-title">from New York City</h1>
    </div>
    <div class="container paragraph">
        <p>Je me presente, j'aime Python et Django. Website developpe sur Django etc ,Je me presente, j'aime Python et Django. Website developpe sur Django etc,&nbsp;Je me presente, j'aime Python et Django. Website developpe sur Django etc ,Je me presente,
            j'aime Python et Django. Website developpe sur Django etc ,Je me presente, j'aime Python et Django. Website developpe sur Django etc&nbsp;</p>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Lightbox Gallery</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row photos">
              <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static "img/desk.jpg" %}" data-lightbox="photos"><img class="img-fluid" src="{% static "img/desk.jpg" %}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a
                    href="assets/img/building.jpg" data-lightbox="photos"><img class="img-fluid" src="{% static "img/building.jpg" %}" ></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a
                    href="assets/img/loft.jpg" data-lightbox="photos"><img class="img-fluid" src="{% static "img/desk.jpg" %}" ></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a
                    href="assets/img/building.jpg" data-lightbox="photos"><img class="img-fluid" src="{% static "img/building.jpg" %}" ></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="#"
                    data-lightbox="photos"><img class="img-fluid" src="{% static "img/loft.jpg" %}" ></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="#"
                    data-lightbox="photos"><img class="img-fluid" src="{% static "img/desk.jpg" %}"></a></div>
            </div>
        </div>
    </div>
    <div class="contact-clean">
        <form method="post">
            <h2 class="text-center">Contact me</h2>
            <div class="form-group"><input class="form-control" type="text" name="name" placeholder="Name"></div>
            <div class="form-group"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"><small class="form-text text-danger">Please enter a correct email address.</small></div>
            <div class="form-group"><textarea class="form-control" rows="14" name="message" placeholder="Message"></textarea></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">send </button></div>
        </form>
    </div>
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "jbootstrap/js/bootstrap.min.js" %}></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>
