{% extends "portfolio/base.html" %}
{%load static %}
{% block title %}Yannick Le Roux - Home{% endblock title %}
    
		{% block content %}
   <div class="jumbotron hero-technology">
        <div class="container home-title-container">
            <h1 class="homepage-title">Welcome,</h1>
            <h1 class="homepage-title">I am a Web Developper</h1>
            <h1 class="homepage-title">from New York City</h1>
        </div>
				<p><a class="btn btn-primary btn-lg hero-button" role="button" href="{% url 'portfolio:about' %}">Learn more</a></p>
    </div>
    <div class="container">
			<div class="alert alert-warning" role="alert">
        <p><strong>** Site Under Construction **</strong></p>
				<p>Made with my favorite Web framework: Django </p>
			</div>
        <p class="text-center">Hi! I am Yannick Le Roux, <strong>Software</strong> and <strong>Web</strong> developper <em>in the making</em>.</p>
        <p class="text-center">I use <strong>Python</strong> to build the back-end of my web projects,<strong>HTML</strong>,<strong>CSS</strong>, <strong>Javascript</strong> and <strong>Bootsrap</strong> for the Front End. </p>
				<p>I like to make any kind of applications that could make your life easier or, very humbly, make the world a better place. :)</p>
    </div>
     <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Lightbox Gallery</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row photos">
              <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="{% static "img/desk.jpg" %}" data-lightbox="photos"><img class="img-fluid" src="{% static "img/desk.jpg" %}"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a
                    href="assets/img/building.jpg" data-lightbox="photos"><img class="img-fluid" src="{% static "img/building.jpg" %}" ></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a
                    href="assets/img/loft.jpg" data-lightbox="photos"><img class="img-fluid" src="{% static "img/desk.jpg" %}" ></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a
                    href="assets/img/building.jpg" data-lightbox="photos"><img class="img-fluid" src="{% static "img/building.jpg" %}" ></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="#"
                    data-lightbox="photos"><img class="img-fluid" src="{% static "img/loft.jpg" %}" ></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="#"
                    data-lightbox="photos"><img class="img-fluid" src="{% static "img/desk.jpg" %}"></a></div>
            </div>
        </div>
    </div>    

   
{% endblock content %}

