.fa.fa-home.home-icon {
  font-size:1.4em;
}

.homepage-title {
  font-size:5.063em;
  font-family:Dosis, sans-serif;
  color:#2C363F;
}

.container.home-title-container {
  margin-top:60px;
  margin-bottom:40px;
}

p {
  font-family:'Open Sans', sans-serif;
  font-weight:500;
  font-size:18px;
  color:rgb(125,130,133);
}

h2 {
  font-family:'Muli', sans-serif;
  font-size:2.25em;
  color:#2C363F;
}

.paragraph {
  text-align:center;
  padding:10px 100px;
  margin:10px 16px;
}

.effect5 {
  .effect-5 {  display:inline-block;
  overflow:hidden;
  &:before, &:after {    right: 0;
  bottom:0;
  background:$hover;
  }  &:before {    width: 100%;
  height:2px;
  transform:translateX(-100%);
  }  &:after {    width: 2px;
  height:100%;
  transform:translateY(100%);
  }  > span {    display:block;
  padding:10px;
  &:before, &:after {      left: 0;
  top:0;
  background:$hover;
  }    &:before {      width: 100%;
  height:2px;
  transform:translateX(100%);
  }    &:after {      width: 2px;
  height:100%;
  transform:translateY(-100%);
  }  }  &:hover:before, &:hover:after, &:hover > span:before, &:hover > span:after {    transform:  translate(0, 0);
}

