.fa.fa-home.home-icon {
  font-size:1.4em;
}

.homepage-title {
  font-size:5.063em;
  font-family:Dosis, sans-serif;
  color:#FFFFFF;
}

.container.home-title-container {
  margin-top:60px;
  margin-bottom:40px;
  background-size:auto;
  background-position:left;
  background-color:rgba(0,0,0,0.1);
}

p {
  font-family:'Open Sans', sans-serif;
  font-weight:500;
  font-size:18px;
  color:rgb(125,130,133);
}

h2 {
  font-family:'Muli', sans-serif;
  font-size:2.25em;
  color:#2C363F;
}

.paragraph {
  text-align:center;
  padding:10px 100px;
  margin:10px 16px;
}



